
.logoText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 45px;
}

body .panel{
    background-image: url(images/bg/whitebg.png) center center no-repeat;
    
    /* opacity: 0.5;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;    
    background-position: center;
    background-size: cover;  */
}

.logoText {
    color: white;
    text-decoration: none;
}

.navbar{
    /* box-shadow: 0px 0px 8px #000000; */
    transition: all 0.5s;
    background-color: rgba(19, 22, 26, 1);

    /* position: absolute;
    opacity: 0.4; */
}

.nav-link{
    color: #FFD700 !important;
    font-weight: 900;
    /* #aa2020 */
}

.nav-link.active , .nav-link:hover{
    color: #d62313 !important;
    /* #aa2020 */
}

/* navbar-scrolled */
.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.main-menu{ 
    background-size: cover; 
    display: block;
    /* position: relative; */
    /* height: auto; */
}
.shadow-header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
  }

.main-menu::before {
    content: '';
    display: block;
    justify-content: center;
    /* position: absolute;
    background-color: #000;
    opacity: 0.4; */
    width: 100%;
    height: 100%;
}

/*
==========================================
   top-banner Design
==========================================
*/
.top-banner{
    width:100%;
    background: url('../images/bg/bghome.jpg') no-repeat center;
    background-size:cover;
    padding:16.875rem 0 9.375rem;
  }

.bg {   
    /* background: url('../images/mainbg.jpg') center center no-repeat;    */
    height: 100vh;
    /* width: auto; */
    /* background-size:contain;
    background-position:center;     */
    /* background-attachment: fixed; */

    filter: blur(2px);
    filter: brightness(100%);
    background-position: center center; 
    transform: translate3d(0px, 0px, 0px);
    /* /* width: auto; */
    /* height: auto;  */
}

.bg-location{
    /* background: url('../images/drink00.jpg') center center no-repeat;    */
    /* background-color: black; */
    height: 100vh;
    width: auto;
    background-size:contain;
    background-position:center;
    background-attachment: fixed;
}

.bg-entertainment{
    background-color: black;
    display: block;
}

.bg-foodservice{
    background: url('../images/bg/bgservice.jpg') center center ;
    width:100%;
    background-size:cover;
    padding:16.875rem 0 9.375rem;
    height: 100vh;
}

.bg-service{
    background: url('../images/bg/bgservice.jpg') center center no-repeat;     
    height: 100vh;
}

/* -------------------------- */

.menu-btn .smenu-btn{
    text-decoration: none;
}

.content {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.homeimg{
    width: 60%;
    margin-left: 10%;
}

.locationimg{
    width: 60%;
    margin-left: 10%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 7vw;
    background-color: black;
}

#facebook{
    width: 10%;
    height: 10%;
}

#hero-text {
    z-index: 1;
}

#hero-text .text-1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
}

#hero-text .text-2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
    margin-top: 15px;
}

#about #video {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 300px;
}

#vdo {
    width: 30%;
    height: auto;
}

h1 {
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #d6d313; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* -webkit-text-stroke: 1px #000;  */
    /* text-stroke: 1px #000;  */
    /* font-size: 2em;  */
}

h2{
    font-family: 'Arial', sans-serif ; 
    font-weight: bold;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
    font-weight: bold;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: #000000ab;
    /* #A56214; */
    font-size: large;
}


#location1{
    height: auto;
}

#location2{
    /* background-color: #EDEDED; 
    background-size: cover; 
    position: relative; */
    height: auto;
}

.contact-address{
    font-family: Lato, sans-serif;
}

.google-map {
    padding-bottom: 30%;
    padding-top: 20%;
    position: relative;
  }
  
  .google-map iframe {
    height: 80%;
    width: 90%;
    left: 0;
    top: 0;
    position: absolute;
  }

  .slide{
    width: 100%;
    height: 50%;
  }


#footer .logo {
    max-width: 280px;
    width: 100%;
}

#service{
    /* background-image: url(&quot;https://www.cultursmag.com/wp-content/uploads/2023/07/silhouettes-of-hand-in-concert-light-from-the-stage-1-2-1920x794.jpg&quot;); */
    height: 100%;
    width: 100%;
}

.figure-caption{
    text-align: center;   
}

.food-card{
    height: 100px;
}

.cstm-height-card .card-img-top {
height: 140px;
object-fit: contain;
}

/*
==========================================
   Header Design
==========================================
*/
 .navigation-wrap{
    position:fixed;
    width:100%;
    left:0;
    z-index:1000;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
  } 
  .navigation-wrap .nav-item{
    padding:0 0.625rem;
    transition:all 200ms linear;
  }
  .navbar-toggler:focus{
    outline:unset;
    border:unset;
    box-shadow: none;
  }
  .nav-link{
    font-size:0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color:#d6d313;
    letter-spacing: 1px;
  } 
  .navigation-wrap .main-btn{
    padding:0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left:0.625rem;
  } 

  /* .nav-link{
    padding-left: 45px !important;
  } */

nav ul li a.active,
nav ul li a:hover{
  border-color:orange;
  color:orange;
}
  /* .nav-link:hover{
    color: #d6d313;
  }  */

#navbar-icon{
    box-shadow: 0 0 0 1;
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0.1rem !important;
}

.cardhovers {
    transition: transform 0.2s;
}

.cardhovers:hover {
    transform: translateY(-8px);
}

p{
    line-height: 2rem !important;
}